<div class="content-header">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="javascript:void(0);">
				分组管理
			</a>
		</li>
	</ul>
	<div class="buttons btn-xx-group right">
		<button class="btn btn-xx-green btn-xx-sm" data-xx-action="create">新建分组</button>
	</div>
</div>
<div class="content-body category-list">
	<div class="panel clearfix">
		<div class="panel-body">
			<h3 class="xx-inner-title clearfix">
			<div class="xx-title">总数&nbsp;(&nbsp;{{groups.length}}&nbsp;)</div>
			</h3>
			
			<table class="table middle center">
				<thead class="xx-table-header">
					<tr>
						<th class="width-60">编号</th>
						<th>
							分组名
						</th>
						<th class="width-150">
							创建时间
						</th>
						<th class="width-160 xx-border-right">操作</th>
					</tr>
				</thead>
				<tbody class="xx-table-body">
					{{each groups as group i}}
					<tr class="">
						<td>
							{{(i+1) < 10 ? "0"+(i+1) : (i+1)}}
						</td>
						<td class="left">
							{{group.name}}
						</td>
						<td>
							{{group.createDate | makedate:'yyyy-MM-dd'}}
						</td>
						<td class="center width-160">
							<button class="btn btn-xx-green btn-xx-sm" data-value="{{group.id}}" data-name="{{group.name}}" data-xx-action="update">
							编辑
							</button>
							<button class="btn btn-xx-red btn-xx-sm" data-value="{{group.id}}" data-name="{{group.name}}" data-xx-action="remove">
							<span class="inside-loading">
								<i class="fa fa-spinner rolling font-14"></i>
							</span>
							<span class="inside-text">
								删除
							</span>
							</button>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			
			{{if !groups.length}}
			<div class="list-empty">
				<img src="./images/empty.png" alt="哎呀！啥都没有呢！" />
			</div>
			{{/if}}
			<!--/global/main.scss-->
			<div class="list-back">
				<a class="btn btn-xx-green btn-xx-sm btn-link" href="#members"><span class="fa fa-angle-double-left">&nbsp;</span>成员管理</a>
			</div>
		</div>
	</div>
</div>