<!-- 人员选择器 （多选） -->
<section class="member-selector">
	{{if members.length==0}}
	<p class="tips">
		暂无可操作成员
	</p>
	{{else}}
	<div class="form-group">
		<ul class="members clearfix">
			{{each members as member i}}
			<li class="clearfix member">
				<label class="checkbox clearfix ellipsis">
					<input type="checkbox" class name="member" value="{{member.id}}"/>
					<span>{{member.remark||member.user.name||member.user.nickname||member.user.phoneNumber}}</span>
				</label>
			</li>
			{{/each}}
		</ul>
	</div>
	<!-- 动态设置事件行为 -->
	<p class="center">
		<button class="btn btn-xx-green btn-save">
		<span class="inside-loading"> <i class="fa fa-spinner rolling font-18"></i>
		</span>
		<span class="inside-text font-14">确定</span>
		</button>
	</p>
	{{/if}}
</section>
<!-- 人员选择器 -->