<!-- 手动添加成员模板 -->
<section class="modal-form">
	<div class="form-group">
		<h4 class="xx-inner-title">
		<span class="xx-title">名称（备注）</span>
		</h4>
		<input type="text" id="Remark" class="form-control" value="" placeholder="请输入成员名称或备注" />
	</div>
	<div class="form-group">
		<h4 class="xx-inner-title">
		<span class="xx-title">手机号码</span>
		</h4>
		<input type="text" id="PhoneNumber" class="form-control" value="" placeholder="请输入成员手机号码" />
	</div>
	<div class="form-group">
		<h4 class="xx-inner-title">
		<span class="xx-title">成员角色</span>
		</h4>
		<select id="Rank" class="width-p-100" >
			<option value="0">成员</option>
			<option value="1">管理员</option>
		</select>
	</div>
	<div class="form-group center">
		<button class="btn btn-xx-green btn-save">
		<span class="inside-loading"> <i class="fa fa-spinner rolling font-18"></i>
		</span>
		<span class="inside-text">确定</span>
		</button>
	</div>
</section>