.autoreply-body {
        .xx-inner-title .xx-right .btn {
                min-width: 70px;
        }

        td {
                .btn {
                        margin: 0 5px;
                        width: 70px;
                        padding-left: 0;
                        padding-right: 0;
                }
        }

        .keyword {
                margin: 0 2px;

                // padding: 1px 4px;
                // background: #e8e8e8;
                // border-radius: 2px;
                // font-size: 14px;
                // color: $xx-theme-color;
       
        }
}

.dropdown-group {
        .dropdown-menu.autoreply-menu {
                min-width: 100px;
                border: 1px solid $default-border-color;
                border-radius: 2px;
                padding: 0;
                left: inherit;
                right: 0;

                .divider {
                        background-color: $default-border-color;
                }

                > li {
                        > a {
                                padding: 5px 15px;
                                font-size: 12px;
                        }
                }
        }
}