<section class="signup-refuse-modal">
    <div class="form-group">
        <div class="row">
            <label class="label-input">
                <input type="radio" class="xx-option-input xx-radio" name="cause" value="不符合主题" checked/> 不符合主题
            </label>
        </div>
        <div class="row">
            <label class="label-input">
                <input type="radio" class="xx-option-input xx-radio" name="cause" value="不健康内容" /> 不健康内容
            </label>
        </div>
        <div class="row">
            <label class="label-input">
                <input type="radio" class="xx-option-input xx-radio" name="cause" value="恶意报名" /> 恶意报名
            </label>
        </div>
        <div class="row">
            <label class="label-input">
                <input type="radio" class="xx-option-input xx-radio" name="cause" value="其他" /> 其他
            </label>
        </div>
        <div class="row">
            <textarea class="form-control other hide" rows='2'></textarea>
        </div>
    </div>
    <div class="center">
        <button class="btn btn-xx-green btn-save">
            <span class="inside-loading">
				<i class="fa fa-spinner rolling font-18"></i>
			</span>
            <span class="inside-text">
				确定
			</span>
        </button>
    </div>
</section>
