@charset "UTF-8";

/* 被无辜处理掉的样式 */
/* 图片上传控件 */
/* styles/lib/imagebox */
.image-box-modal {
        .loader-container {
                background-image: -webkit-linear-gradient(left, #5bd8ff, #ff0000);
                background-image: -moz-linear-gradient(left, #5bd8ff, #ff0000);
                background-image: -o-linear-gradient(left, #5bd8ff, #ff0000);
                background-image: -ms-linear-gradient(left, #5bd8ff, #ff0000);
                background-image: linear-gradient(left, #5bd8ff, #ff0000);
        }

        .loader-container:after {
                background-image: -webkit-linear-gradient(top, #000000, #212121);
                background-image: -moz-linear-gradient(top, #000000, #212121);
                background-image: -o-linear-gradient(top, #000000, #212121);
                background-image: -ms-linear-gradient(top, #000000, #212121);
                background-image: linear-gradient(top, #000000, #212121);
        }

        .run .runner {
                background-image: -webkit-linear-gradient(top, #000000, #212121);
                background-image: -moz-linear-gradient(top, #000000, #212121);
                background-image: -o-linear-gradient(top, #000000, #212121);
                background-image: -ms-linear-gradient(top, #000000, #212121);
                background-image: linear-gradient(top, #000000, #212121);
        }
}