{{if !adminReplies||adminReplies.length==0}}
	<p class="center text-xx-gray">
		暂未添加管理员回复
	</p>
{{else}}
	<ul class="admin-replies">
		{{each adminReplies as reply i}}
		<li>
			<div class="content">
				{{#reply.text}}
			</div>
			<footer class="footer">
				<span class="user-name" data-xx-action="checkUser" data-user-id="{{reply.user.id}}">{{reply.user.name||reply.user.phoneNumber}}({{reply.user.phoneNumber}})</span>
				回复于
				<span class="date">{{reply.createDate | makedate:'yyyy-MM-dd hh:mm'}}</span>
				<div class="buttons">
					<button class="btn btn-xx-sm btn-xx-green" data-xx-action="updateAdminReply" data-reply-id="{{reply.id}}">
						<span class="inside-loading">
							<i class="fa fa-spinner rolling font-14"></i>
						</span>
						<span class="inside-text">修改</span>
					</button>
					<button class="btn btn-xx-sm btn-xx-danger" data-xx-action="removeAdminReply" data-reply-id="{{reply.id}}">
						<span class="inside-loading">
							<i class="fa fa-spinner rolling font-14"></i>
						</span>
						<span class="inside-text">删除</span>
					</button>
				</div>
			</footer>
		</li>
		{{/each}}
	</ul>
{{/if}}