<div class="detail-box">
	<div class="box-header">
		<div class="title-box clearfix">
			<span class="title ellipsis">{{group.name}}</span>
		</div>
	</div>
	<div class="box-body">
		<div class="images-wrapper clearfix">
			
		</div>
		<div class="more-wrapper hide">
			<button class="btn btn-lg btn-large btn-xx-green" data-xx-action="loadMore">
				<span class="inside-loading">
					<i class="fa fa-spinner rolling font-14"></i>
				</span>
				<span class="inside-text">加载更多图片</span>
			</button>
		</div>
		<div class="list-empty hide">
			<img src="./images/empty.png" alt="哎呀！啥都没有呢！" />
		</div>
	</div>
</div>