<div class="content-header resource-header">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#resource/image/list">图片</a>
		</li>
		<li role="presentation">
			<a href="#resource/music/list">音乐</a>
		</li>
		<li role="presentation">
			<a href="#resource/file/list">文件</a>
		</li>
	</ul>
</div>
<div class="content-body">
	<div class="panel clearfix">
		<div class="panel-body">
			<div class="resource-image-container clearfix">
				<div id="GroupBox">
					
				</div>
				<div id="DetailBox">
					
				</div>
			</div>
		</div>
	</div>
</div>