<div class="container">
	<div class="content-header">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="javascript:void(0);">通知中心</a>
			</li>
		</ul>
		<div class="buttons btn-xx-group right">
			<button id="AllReadBtn" class="btn btn-xx-green btn-xx-sm">全部标记已读</button>
			<button id="ClearBtn" class="btn btn-xx-red btn-xx-sm">清空通知</button>
		</div>
	</div>
	<div class="content-body notification-container">
		<div id="Notifications" class="notifications"></div>
		<div class="notification-detail">
			<div id="Detail" class="hide">
			</div>
		</div>
	</div>
	<div class="noti-bottom-button center" data-xx-action="showNotificationCenter">
		<span class="fa fa-angle-up font-16"></span>
	</div>
</div>