<!-- 绑定选择模板 -->
<div class="appmsg-editor editor-o"> <i class="arrow arrow-out"></i> <i class="arrow arrow-in"></i>
	<div class="inner">
		<ul class="appmsg-tabs clearfix">
			{{each sourceTypes as source i}}
			<li class="{{if curType==source.type}}active{{/if}}">
				<a href="javascript:void(0);" data-value="{{source.type}}" data-xx-action="switchType">{{source.title}}</a>
			</li>
			{{/each}}
		</ul>
		<div class="xx-inner-title">
			<span class="xx-title">已选项目</span>
		</div>
		<div id="CurSouresBox" class="appmsg-box">
			
		</div>
		<div class="xx-inner-title">
			<span class="xx-title">选择绑定项目</span>
		</div>
		<div id="SourcesBox" class="appmsg-box">
			
		</div>
	</div>
</div>