<table id="AdvertSelector" class="table table-main advert-selector-box">
	<tbody>
		<tr>
			<td class="width-80 advert-label">
				分类
			</td>
			<td class="advert-wrapper">
				<div class="search-container">
					<div class="search-input-group clearfix">
				      <input id="SearchAdvert" type="text" id="" placeholder="关键字">
				      <div class="input-icon"><span class="fa fa-search"></span></div>
				    </div>
				</div>
				<div id="AdvertOptions" class="advert-options clearfix">
					<!-- app/templates/public/advert-selector/adverts -->
				</div>
			</td>
		</tr>
		<tr>
			<td class="width-80 advert-label">
				热门
			</td>
			<td class="advert-wrapper hot">
				<div id="HotAdverts" class="advert-options clearfix">
					<!-- app/templates/public/advert-selector/adverts -->
				</div>
			</td>
		</tr>
	</tbody>
</table>