.resource-weixin-graphic-content {
        .panel-header {
                .buttons > span {
                        font-size: 12px;
                        color: #858585;
                }
        }

        .resource-wrap {
                border-top: 1px solid $default-border-color;
                padding-top: 10px;
                margin-bottom: 10px;

                .poster-wrap, .articles, .ops-wrap {
                        float: left;
                }

                .poster-wrap {
                        width: 100px;

                        img {
                                width: 100px;
                                height: 100px;
                        }
                }

                .articles {
                        width: 750px;
                        padding: 5px 10px;
                }
        }
}