<!-- 个性化公众号向导页面模板-->
<div class="content-header">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="javascript:void(0);">个性化公众号</a>
		</li>
	</ul>
</div>
<div class="content-body">
	<!-- models/wechat/personalized/guide.scss -->
	<div class="personalized-wrapper">
		<div class="personalized personalized-guide">
			<div class="guide guide-0">
				<a href="#homepage/guide">
					<dl>
						<dt>
							<img src="./images/s_05.png" alt="个性化微首页" />
						</dt>
						<dd>个性化微首页</dd>
					</dl>
				</a>
			</div>
			<div class="guide guide-1">
				<a href="#wechat/menu">
					<dl>
						<dt>
							<img src="./images/s_03.png" alt="自定义菜单" />
						</dt>
						<dd>自定义菜单</dd>
					</dl>
				</a>
			</div>
		</div>
	</div>
</div>