<!-- 此模板在组织未设置微信号时显示 -->
<div class="content-header">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="javascript:void(0);">微信号绑定</a>
		</li>
	</ul>
</div>
<div class="content-body">
	<div class="panel clearfix">
		<div class="panel-body">
			<div class="no-Wechat">
				<div style="margin-bottom:10px;">
					<img src="images/bind_none.png" />
				</div>
				<button class="btn btn-xx-green" data-xx-action="wechatAuth">一键授权绑定</button> 
			</div>
		</div>
	</div>
</div>