<p>在采用授权登陆之后，解除绑定的步骤有了新的变化，现解除绑定的方法如下：</p>
<p>1、登陆微信公众平台管理后台（<a href="https://mp.weixin.qq.com" target="_blank">https://mp.weixin.qq.com</a>）</p>
<p>2、选择左侧功能栏“添加功能插件”</p>
<img src="./images/wechat/unbind/step-01.png" width="100%" />
<p>3、选择授权管理并点击”详情“链接</p>
<img src="./images/wechat/unbind/step-02.png" width="100%" />
<p>4、点击”取消授权“，解除公众号与微校的绑定关系</p>
<img src="./images/wechat/unbind/step-03.png" width="100%" />
<p style="color:red;">*注意：</p>
<p>取消授权之后，会自动解除该公众账号与校校之间的绑定关系，如果希望再次使用校校需要重新授权绑定。</p>
<p style="color:red;">
	<span>如果已在微信后台进行解绑，但校校中依然显示为绑定状态，可点击</span> 
	<button class="btn btn-xx-sm btn-xx-danger link" data-xx-action="confirmBind">
		<span class="inside-loading">
			解绑中
			<i class="fa fa-spinner rolling font-14"></i>
		</span>
		<span class="inside-text">强制解绑</span>
	</button>
	<span>按钮强制解除绑定！</span>
</p>