.retrieve-password-box {
        width: 800px;
        margin: 60px auto;
        font-family: 'Helvetica Neue',Helvetica,Heiti,sans-serif,"Microsoft YaHei";

        p {
                margin: 0;
        }

        .box-header {
                background-color: #5bd18b;
                text-align: center;
                height: 100px;
                color: #888;
                position: relative;

                img {
                        margin-top: 10px;
                }

                .btn-close {
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        background-color: $danger-color;
                        color: #fff;
                        padding: 0;
                        margin: 0;
                        border-radius: 50% !important;
                        font-size: 16px;
                        transition: 0.5s all;
                        transform-origin: center;

                        &:hover {
                                transform: rotate(90deg);
                        }
                }
        }

        .box-body {
                background-color: #fff;
                padding: 30px 0;

                .form-box.signupbox {
                        width: 280px;
                        margin: 0 auto;

                        .form-row {
                                margin-bottom: 10px;
                        }

                        .row-title {
                                line-height: 40px;

                                .title {
                                        color: #5bd18b;
                                        padding-left: 10px;
                                        border-left: 4px solid #5bd18b;
                                }
                        }

                        input.xx-large-input {
                                background-color: #f2f2f2;
                                border-color: #e6e6e6;
                                outline: 0;
                                border: 1px solid #c8cacc;
                                -webkit-appearance: none;
                                transition: all .8s;
                                padding: 10px;
                                border-radius: 2px;
                                width: 100%;
                                color: #444;
                        }

                        .btn.btn-authcode {
                                margin-left: 10px;
                                padding: 2px 5px;
                                color: #fff;
                                background-color: #45c78b;
                        }

                        .btn-empty {
                                color: #45c78b;
                        }
                }

                .row-content {
                        position: relative;

                        #PwdCaptchaImage {
                                position: absolute;
                                bottom: 2px;
                                right: 2px;
                        }
                }

                .row-footer {
                        margin-top: 10px;
                        color: #888;

                        .btn-voice-auth {
                                padding: 0 1px;
                                background-color: transparent;
                                color: #2196f3;
                                border-bottom: 1px #2196f3 solid;
                        }
                }
        }
}