<div class="content-header">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="javascript:void(0);">抽奖管理</a>
		</ul>
		<div class="buttons btn-xx-group right">
			<a class="btn btn-xx-green btn-xx-sm" href="#lottery/0/edit">新建抽奖</a>
		</div>
	</div>
	<div class="content-body">
		<div class="panel clearfix">
			<header class="panel-header">
				<h3 class="xx-inner-title clearfix">
					<span class="xx-title">总数（<span id="Count">{{total||0}}</span>）</span>
				</h3>
				<div class="buttons search-group">
					<form class="search-box ">
						<input type="text" class="input-search keyword-name" placeholder="请输入关键字" value="{{keyword}}" />
						<button class="btn-search" data-xx-action="search">
							<span class="inside-loading">
								<i class="fa fa-spinner rolling"></i>
							</span>
							<span class="inside-text">
								<i class="fa fa-search"></i>
							</span>
						</button>
					</form>
				</div>
			</header>
			<section class="panel-body">
				<table class="table middle center">
					<thead class="xx-table-header">
						<tr>
							<th class="width-60">编号</th>
							<th>名称</th>
							<th class="width-120">日期</th>
							<th class="width-80">状态</th>
							<th class="width-90">中奖信息</th>
							<th class="width-70">参与人数</th>
							<th class="width-60">二维码</th>
							<th class="width-160 xx-border-right">操作</th>
						</tr>
					</thead>
					<tbody class="xx-table-body">
						{{each lotteries as lottery i}}
						<tr>
							<td>
								{{i | index:pagination.page,pagination.limit}}
							</td>
							<td>
								<div class="ellipsis width-200">
									{{lottery.name}}
								</div>
							</td>
							<td>
								{{#lottery.startDate | makedateSpan}} 至 {{#lottery.endDate | makedateSpan}}
							</td>
							<td>
								<div class="xx-switch">
									<input type="checkbox" class="xx-switch-checkbox" name="{{lottery.id}}" id="Lottery{{lottery.id}}" data-value="{{lottery.id}}" data-xx-change-action="switch" {{if lottery.state=="OPEN" }}checked{{/if}}>
									<label class="xx-switch-label" for="Lottery{{lottery.id}}">
										<div class="xx-switch-inner">
											<div class="xx-active">开启</div>
											<div class="xx-inactive">关闭</div>
										</div>
										<div class="xx-switching"></div>
									</label>
								</div>
							</td>
							<td>
								<a class="btn btn-xx-green btn-xx-sm" href="#lottery/{{lottery.id}}/result">中奖情况</a>
							</td>
							<td>
								{{lottery.participants}}
							</td>
							<td>
								<a href="javascript:void(0);" data-xx-action="checkQRCode" title="扫描二维码进入 {{lottery.name}}" data-source-name="{{lottery.name}}" data-source-id="{{lottery.id}}" data-source-type="LOTTERY">
									<span class="fa fa-qrcode"></span>
									<span></span>
								</a>
							</td>
							<td>
								<a class="btn btn-xx-green btn-xx-sm" href="#lottery/{{lottery.id}}/edit">编辑</a>
								<button class="btn btn-xx-red btn-xx-sm" data-value="{{lottery.id}}" data-xx-action="remove">
								<span class="inside-loading">
									<i class="fa fa-spinner rolling font-14"></i>
								</span>
								<span class="inside-text">
									删除
								</span>
								</button>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
				{{if count==0}}
				<div class="list-empty">
					<img src="./images/empty.png" alt="哎呀！啥都没有呢！" />
				</div>
				{{/if}}
			</section>
			<footer class="panel-footer"></footer>
		</div>
	</div>