<div class="content-header">
	<ul class="nav nav-tabs" role="tablist">
		{{if sourceType=="WALL"}}
		<li role="presentation">
			<a href="#wall/{{sourceId}}/lottery">上墙幸运星</a>
		</li>
		{{/if}}
		{{if sourceType=="WALL"}}
		<li role="presentation">
			<a href="#vote/relation/Wall/{{sourceId}}/list?from=lottery">上墙投票</a>
		</li>
		{{/if}}
		<li role="presentation" class="active">
			<a href="javascript:void(0);">
				{{if sourceType=='EVENT'}}
				活动抽奖管理
				{{else if sourceType=="VOTE"}}
				投票抽奖管理
				{{else if sourceType=="WALL"}}
				上墙抽奖
				{{/if}}
			</a>
		</li>
	</ul>
	{{if sourceType!="WALL"}}
	<div class="buttons btn-xx-group right">
		<button class="btn btn-xx-green btn-xx-sm" data-xx-action="addLottery" title="新建抽奖，需要手动关联" tooltip>新建抽奖</button>
		<button class="btn btn-xx-green btn-xx-sm" data-xx-action="bindLottery" title="关联已有抽奖" tooltip>关联已有抽奖</button>	
	</div>
	{{/if}}
</div>
<div class="content-body relation-list">
	<div class="panel clearfix">
		<header class="panel-header">
			<h3 class="xx-inner-title clearfix">
				{{if sourceType=="WALL"}}
				<span class="xx-title">已绑定抽奖（微信上墙最多只能绑定一个抽奖）</span>
				{{else}}
				<span class="xx-title">总数（{{lotteries.length||0}}）</span>
				{{/if}}
			</h3>
			{{if sourceType=="WALL"}}
			<div class="buttons">
				<button class="btn btn-xx-green btn-xx-sm" data-xx-action="addLottery" title="新建抽奖，需要手动关联" tooltip>新建抽奖</button>
				<button class="btn btn-xx-green btn-xx-sm" data-xx-action="bindLottery" title="关联已有抽奖" tooltip>关联已有抽奖</button>	
			</div>
			{{/if}}
		</header>
		<section class="panel-body">
			<table class="table middle center">
				<thead class="xx-table-header">
					<tr>
						<th class="width-60">编号</th>
						<th>名称</th>
						<th class="width-120">当前状态</th>
						<th class="width-150">中奖信息</th>
						<th class="width-100 xx-border-right">操作</th>
					</tr>
				</thead>
				<tbody class="xx-table-body">
					{{each lotteries as lottery i}}
					<tr>
						<td>
							{{(i+1) < 10 ? "0"+(i+1) : (i+1)}}
						</td>
						<td class="left">
							{{lottery.name}}
						</td>
						<td class="center">
							<div class="xx-switch">
								<input type="checkbox" class="xx-switch-checkbox" name="{{lottery.id}}" id="Ticket{{lottery.id}}" data-value="{{lottery.id}}" data-xx-change-action="switch" {{if lottery.state=="OPEN"}} checked {{/if}}>
								<label class="xx-switch-label" for="Ticket{{lottery.id}}">
									<div class="xx-switch-inner">
										<div class="xx-active">开启</div>
										<div class="xx-inactive">关闭</div>
									</div>
									<div class="xx-switching"></div>
								</label>
							</div>
						</td>
						<td>
							<a class="btn btn-xx-sm btn-xx-green" href="#lottery/{{lottery.id}}/result">中奖情况</a>
						</td>
						<td>
							<button class="btn btn-xx-red btn-xx-sm" data-value="{{lottery.id}}" data-xx-action="remove">
								<span class="inside-loading">
								<i class="fa fa-spinner rolling font-14"></i>
								</span>
								<span class="inside-text">
									解除关联
								</span>
							</button>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{if lotteries.length==0}}
			<div class="list-empty">
				<img src="./images/empty.png" alt="哎呀！啥都没有呢！" />
			</div>
			{{/if}}
		</section>
		<footer class="panel-footer">
			<!--/global/main.scss-->
			<div class="list-back">
				<a class="btn btn-xx-green btn-xx-sm" data-xx-action="goBack" title="返回">返回</a>
			</div>
		</footer>
	</div>
</div>