/**
 *  按钮样式
 */

//white btn
$white-btn-background-color: white;
$white-btn-background-color-deep: #dddddd;
$white-btn-color: #888888;
$white-btn-border-color: #1da9d3;

//green btn
$green-btn-background-color: #5bd18b;
$green-btn-background-color-deep: #20b35d;
$green-btn-color: white;
$green-btn-border-color: #5bd18b;

//red btn
$red-btn-background-color: #ff7979;
$red-btn-background-color-deep: #f65757;
$red-btn-color: white;
$red-btn-border-color: #ff7979;

//blue btn
$blue-btn-background-color: #58a2ec;
$blue-btn-background-color-deep: #1780f3;
$blue-btn-color: white;
$blue-btn-border-color: #58a2ec;

//gray btn
$gray-btn-background-color: white;
$gray-btn-color-deep: #999999;
$gray-btn-color: gray;
$gray-btn-border-color: #e6e6e6;

button {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        user-select: none;
}

.btn {
        border-radius: $default-border-radius !important;
        border: none;
        font-size: 14px;
        padding: 5px 20px;
        font-size: 14px;
        user-select: none;
        display: inline-block;
        text-align: center;
        vertical-align: middle;

        &.disabled,
        &[disabled] {
                cursor: not-allowed;
                filter: alpha(opacity = 65);
                box-shadow: none;
                opacity: .65;
        }
}



.btn-xx-group {
        &.left {
                .btn {
                        margin-right: 20px;
                }
        }

        &.right {
                .btn {
                        margin-left: 20px;
                }
        }
}

.btn-xx-green {
        color: $green-btn-color;
        border-color: $green-btn-border-color;
        background-color: $green-btn-background-color;

        &:hover,
        &:active,
        &:focus,
        &.loading {
                background-color: $green-btn-background-color-deep;
                color: $green-btn-color;
                outline: none;
        }
}

.btn-xx-red,
&.btn-xx-danger {
        color: $red-btn-color;
        border-color: $red-btn-border-color;
        background-color: $red-btn-background-color;

        &:hover,
        &:active,
        &:focus,
        &.loading {
                background-color: $red-btn-background-color-deep;
                color: $red-btn-color;
                outline: none;
        }
}

.btn-xx-danger2 {
        color: $red-btn-background-color;

        &:hover,
        &:active,
        &:focus,
        &.loading {
                color: $red-btn-background-color-deep;
        }
}

.btn-xx-white {
        color: $white-btn-color;
        border-color: $white-btn-border-color;
        background-color: $white-btn-background-color;

        &:hover,
        &:active,
        &:focus,
        &.loading {
                background-color: $white-btn-background-color-deep;
                color: $white-btn-color;
                outline: none;
        }
}

.btn-xx-blue {
        color: $blue-btn-color;
        border-color: $blue-btn-border-color;
        background-color: $blue-btn-background-color;

        &:hover,
        &:active,
        &:focus,
        &.loading {
                background-color: $blue-btn-background-color-deep;
                color: $blue-btn-color;
                outline: none;
        }
}

.btn-xx-hollow-green-border {
        color: $green-btn-background-color;
        border: 1px solid $green-btn-border-color;
        background-color: #fff;

        &:hover,
        &:active,
        &:focus,
        &.loading {
                background-color: #fff;
                color: $green-btn-background-color-deep;
                border-color: $green-btn-background-color-deep;
                outline: none;
        }
}

.btn-xx-hollow-gray-border {
        color: $gray-btn-color;
        border: 1px solid $gray-btn-border-color;
        background-color: $gray-btn-background-color;

        &:hover,
        &:active,
        &:focus,
        &.loading {
                background-color: $gray-btn-background-color;
                color: $gray-btn-color-deep;
                border-color: $gray-btn-color-deep;
                outline: none;
        }
}

.btn-xx-translucent-white-border {
        color: $white-btn-background-color;
        border: 1px solid $white-btn-background-color;
        background-color: rgba(255, 255, 255, 0.3);

        &:hover,
        &:active,
        &:focus,
        &.loading {
                background-color: rgba(255, 255, 255, 0.5);
                color: $white-btn-background-color;
                border-color: $white-btn-background-color;
                outline: none;
        }
}

.btn-minus-circle {
        font-size: 18px;
        color: #ff7979;

        &:hover {
                color: #F54F4F;
        }
}

.btn-primary,
.btn-xx-primary {
        background-color: #65abd0;
}

.btn-success {
        background-color: #24aa98;

        &:hover,&.active {
                background-color: #1a9385;
        }
}

.btn-info {
        background-color: #1dace6;
}

.btn-xx-link {
        display: inline;
        border: none;
        outline: none;
        color: #888;

        &:active,
        &:focus,
        &:hover {
                outline: none;
                color: #333;

                .inside-text {
                        text-decoration: underline;
                }
        }
}

.btn-warning {
        background-color: #d9c26c;
}

.btn-danger {
        background-color: #ff6e68;
}

.btn-large {
    width: 100%;
}

.btn-lg {
        font-size: 14px;
        padding: 8px 20px;
        border-radius: 4px;
}

.btn-sm {
        padding: 0 8px;
        margin-right: 20px;
        height:23px;
        line-height: 22px;
}

.btn-xx-sm {
        font-size: 12px;
        padding: 0 8px;
        height:23px;
        line-height: 22px;
}

button.btn-xx-sm {
        font-size: 13px;
}

.btn-upload {
        padding: 0;
        margin-top: 10px;
}

.btn-minus-circle {
        font-size: 18px;
        color: $red-color;

        &:hover {
                color: $deep-red-color;
        }
}

.btn-edit {
        font-size: 18px;
        color: #fff;

        &:hover {
                color: #eee;
        }
}

/**
 *  具有加载状态变化的按钮
 *
 *  HTML中使用方式：
 *  <button class="btn btn-xx-green" data-xx-action="{响应事件名}">
 *      <span class="inside-loading">
 *          <i class="fa fa-spinner rolling"></i>
 *      </span>
 *      <span class="inside-text">{显示文字}</span>
 *  </button>
 *
 *  配合JS中使用：
 *  Helper.begin(btn);  //开始加载，按钮显示加载中
 *      {网络请求}
 *  Helper.end(btn);   //加载完成，按钮样式恢复
 *
 */
button {
        .inside-loading {
                display: none;
        }

        .inside-else {
                display: none;
        }

        .inside-text {
                display: inline-block;
        }

        &.loading {
                .inside-loading {
                        display: inline-block;
                }

                .inside-text {
                        display: none;
                }

                .inside-else {
                        display: none;
                }
        }

        &.else {
                .inside-loading {
                        display: none;
                }

                .inside-text {
                        display: none;
                }

                .inside-else {
                        display: inline;
                }
        }
}