.search-box {
        border: 1px solid #e2e2e2;
        border-radius: 2px;
        background-color: #f2f2f2;

        .input-search {
                transition: all .5s;
                border: none;
                padding: 4px 4px;
                width: 110px;
                font-size: 13px;
                color: #888;
                border-right: 1px solid #e2e2e2;
                margin-right: -3px;

                &.dropdown {
                        cursor: pointer;
                }

                &:focus {
                        color: #444;
                }
        }

        .btn-search {
                height: 100%;
                display: inline-block;
                color: #444;
                padding: 0 5px;
        }
}