.text-xx-danger {
	color: $danger-color;
}
.text-xx-red {
	color: $red-color;
}
.text-xx-success {
	color: $success-color;
}
.text-xx-green {
	color: $green-color;
}
.text-xx-white{
	color:#fff;
}
.text-xx-theme{
	color:$xx-theme-color;
}
.text-xx-yellow {
	color: $yellow-color;
}
.text-xx-purple {
	color: $purple-color;
}
.text-xx-blue {
	color: $blue-color;
}
.text-xx-orange {
	color: $orange-color;
}
.text-xx-gray {
	color: #b3b3b3;
}

/* text color */
.text-red {
	color: $red-color;
}
.text-green {
	color: $green-color;
}
.text-gray {
	color: #7d7e7d;
}
.text-dark-gray {
	color: #282d30;
}
.danger {
	color: $red-color;
}
