// 样式变量

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$main-container-width: 1000px;
//side bar color
$light-dark: #282d30;
//默认侧边栏
$deep-dark: #22272b;
//当前导航背景色
$actice-border-color: #00b17d;
//当前导航边框颜色
$sidebar-width: 200px;
$sidebar-left-width: 60px;
$header-height: 50px;
$content-header-height: 36px;

// 系统主题颜色
$xx-theme-color: #5bd18b;
$xx-theme-deep-color: #20b35d;

$xx-title-color: #545759;

$main-background-color: #e6e6e6;
$default-background-color: #fbfbfb;
$default-background-deep-color: #fbfbfb;

// 默认边框颜色
$default-border-color: #e3e3e3;
$default-border-deep-color: #b7b7b7;
$default-border-radius: 2px;

$default-table-border-color: #e3e3e3;
$default-table-border-deep-color: #b7b7b7;


// 灰色
$default-gray-color: #808080;

// 绿色
$green-color: #5bd18b;
$deep-green-color: #20b35d;

//红色
$red-color: #ff7979;
$deep-red-color: #ff5543;

//蓝色
$blue-color: #58a2ec;
$deep-blue-color: #1780f3;

$yellow-color: #ffcf00;
$purple-color: #9477d3;

$primary-color:#58a2ec;
$orange-color: #fc864b;



//success btn color
$success-color: #5bd18b;
$deep-success-color: #24aa98;
//danger btn color
$danger-color: #ff6e68;
$deep-danger-color: #ea3e38;

// warning
$warning-color:#d9c26c;
$warning-deep-color:#d9c26c;


//normal lable of 'a' color
$normal-link-color: #666;
$deep-normal-link-color: #333;