<!-- 颜色背景选择器 -->
<div id="BackgroundSettingBox">
	<!-- 纯色选择 app/templates/public/color-image-picker/color -->
	<!-- 上传图片 app/templates/public/color-image-picker/image -->
	<div>
		<h4 class="xx-inner-title">
		<span class="xx-title">风格选择</span>
		</h4>
		<ul class="xx-tab-group">
			<li id="SwitchColor" class="xx-item">
				<span>纯色背景</span>
			</li>
			<li id="SwitchImage" class="xx-item">
				<span>图片背景</span>
			</li>
		</ul>
		<!-- models/wechat/personalized/background_box.scss -->
		<div class="background-box">
			
		</div>
	</div>
	<div class="buttons">
		<button class="btn btn-xx-green BtnSubmit">
		<span class="inside-loading"> <i class="fa fa-spinner rolling font-18"></i>
		</span>
		<span class="inside-text">确定</span>
		</button>
		<button class="btn btn-xx-danger BtnCancel">
		<span class="inside-loading">
			<i class="fa fa-spinner rolling font-18"></i>
		</span>
		<span class="inside-text">取消</span>
		</button>
	</div>
</div>