<!-- 活动预览 模板-->
<div class="content-header">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="javascript:void(0);">活动预览</a>
		</li>
	</ul>
	<div class="buttons btn-xx-group right">
		<a class="btn btn-xx-green btn-xx-sm" href="#event/{{eventId}}/edit">编辑</a>
		<a class="btn btn-xx-green btn-xx-sm" href="#event/categories?from=info&targetId={{eventId}}">分类管理</a>
		<a class="btn btn-xx-green btn-xx-sm" href="#vote/relation/Event/{{eventId}}/list?from=info">投票管理</a>
		<a class="btn btn-xx-green btn-xx-sm" href="#ticket/relation/Event/{{eventId}}/list?from=info">电子票管理</a>
		<a class="btn btn-xx-green btn-xx-sm" href="#lottery/relation/Event/{{eventId}}/list?from=info">抽奖管理</a>
	</div>
</div>
<div class="content-body event-preview">
	<!-- models/event/info.scss -->
	<div class="preview-wrapper">
		<div>
			<div class="box box1">
				<div class="qrcode-box">
					<div class="form-group">
						<div class="xx-inner-title clearfix">
							<div class="xx-title">
								活动二维码
							</div>
						</div>
						<div class="qrcode-wrapper">
							<img src="{{eventQRcode}}" alt="{{eventUrl}}" onerror="this.src='./images/empty.png';" />
						</div>
					</div>
					<div class="form-group">
						<div class="xx-inner-title clearfix">
							<div class="xx-title">
								活动链接地址
							</div>
						</div>
						<div class="addr">
							{{eventUrl}}
						</div>
					</div>
					<div class="buttons">
						<button id="CopyUrl" class="btn btn-xx-white" data-clipboard-text="{{eventUrl}}">复制</button>
					</div>
				</div>
			</div>
			<div class="box box2">
				<div class="phone-box">
					<div class="inner-phone-box">
						<div class="phone">
							<div class="phone-header center">
								<span>活动预览效果</span>
							</div>
							<!-- 活动预览内容 -->
							{{include './preview/info'}}
							<div class="phone-submit"> <i class="pk pk-gray"></i>
							</div>
							<!-- 活动未发布 -->
							{{if eventInfo.state!='PUBLISHED'}}
							<div class="publish-btn-fixed" data-xx-action="showPublishOverlay">
								<span class="pk pk-white-publish"></span>
							</div>
							{{/if}}
						</div>
						<!-- 活动未发布 -->
						{{if eventInfo.state!='PUBLISHED'}}
						<div class="phone-overlay">
							<div class="btn-wrapper">
								<p>
									<button class="btn btn-xx-green" data-xx-action="publish">
									<span class="inside-loading">
										<i class="fa fa-spinner rolling font-14"></i>
									</span>
									<span class="inside-text">{{eventInfo.state=="UNPUBLISHED" ? "立即发布" : "重新发布"}}</span>
									</button>
								</p>
								<p><a class="link-white" href="javascript:void(0);" data-xx-action="hidePublishOverlay">以后再说</a></p>
							</div>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
			<!-- 活动报名人员列表 -->
			<div class="box box3" id="MemberContainer">
				<!-- app/templates/event/info/joinedMembers -->
			</div>
		</div>
	</div>
</div>