<!-- 登陆框 -->
<section class="modal-form">
	<div class="form-group">
		<div class="xx-inner-title">
			<span class="xx-title">手机号码</span>
		</div>
	</div>
	<div class="form-group">
		<input type="text" class="form-control username" placeholder="请输入手机号码" autofocus />
	</div>
	<div class="form-group">
		<div class="xx-inner-title">
			<span class="xx-title">密码</span>
		</div>
	</div>
	<div class="form-group">
		<input type="password" class="form-control password" placeholder="请输入密码" />
	</div>
	<div class="center" style="margin-top: 50px;">
		<button class="btn btn-xx-green btn-login">
		<span class="inside-loading">
			<i class="fa fa-spinner rolling"></i>
		</span>
		<span class="inside-text">登陆</span>
		</button>
	</div>
</section>