.timetable-edit {
        .form-control {
                width: 300px;
        }

        .schools-container {
                min-height: 20px;
        }

        .description {
                .xx-inner-title {
                        margin-bottom: 15px;
                }

                p {
                        margin-bottom: 10px;
                        color: #76D29B;

                        a {
                                color: #58a2ec;
                        }
                }
        }
}