.wall-lottery {
        .time {
                color: $xx-theme-color;
                font-size: 14px;
                margin-left: -5px;

                .fa {
                        font-weight: bold;
                        padding-right: 3px;
                }
        }

        .lottery-men {
                border-left: 2px solid $default-border-color;
                padding: 10px 0;

                .lottery-man {
                        cursor: pointer;
                        margin-bottom: 5px;
                        padding: 5px 0 5px 15px;
                }

                .index {
                        margin-right: 10px;
                }

                .user-avatar {
                        width: 40px;
                        height: 40px;
                        margin-right: 5px;
                        vertical-align: middle;
                }
        }
}