.resource-weixin-voice-content {
        .buttons-upload {
                right: 75px !important;

                > span {
                        font-size: 12px;
                        color: #858585;
                }

                .uploadify {
                        display: inline;
                }
        }

        .audiojs {
                display: none;
        }

        .uploadify-queue {
                display: none;
        }

        .audiojs {
                margin-top: -2px;
        }

        tr {
                .fa-music, .btn-pause {
                        display: none;
                }

                .fa-music {
                        margin-top: 2px;
                        color: $xx-theme-color;
                        position: absolute;
                        left: 0;
                }

                &.playing {
                        .fa-music, .btn-pause {
                                display: inline-block;
                        }

                        .btn-play {
                                display: none;
                        }
                }

                .index {
                        position: relative;
                }
        }
}