<div class="content-header">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="javascript:void(0);">编辑回复</a>
		</li>
	</ul>
</div>
<div class="content-body">
	<div class="panel clearfix">
		<form>
			<div class="panel-body xx-border-bottom">
				{{if replyType=='KEYWORD'}}
					{{include './public/keyword-box'}}
				{{/if}}
				<div style="margin-bottom: 30px;">
					<h4 class="xx-inner-title clearfix">
						<span class="xx-title">回复图片</span>
					</h4>
					<img id="ImgWrapper" class="reply-img-wrapper" src="{{imageUrl}}" onerror='this.src="/images/default/event.jpg"' alt=""/>
					<button class="btn btn-xx-green" data-xx-action="openImageSelector" data-toggle="tooltip" data-placement="right" title="上传大小不超过2MB（格式：bmp，png，jpeg，jpg，gif）">
					<span>选择图片</span>
					</button>
				</div>
			</div>
			<div class="panel-footer">
				<button class="btn btn-xx-green" data-xx-action="save">
					<span class="inside-loading"> <i class="fa fa-spinner rolling font-18"></i>
					</span>
					<span class="inside-text">保存</span>
				</button>
			</div>
		</form>
	</div>
</div>