// 闪闪发光呢

.shine{
	animation: neon1 .5s ease-in-out infinite alternate;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 1px #fff,
               0 0 2px  #fff,
               0 0 3px  #fff,
               0 0 4px  #FF1177,
               0 0 7px  #FF1177,
               0 0 8px  #FF1177,
               0 0 10px #FF1177,
               0 0 75px #FF1177;
  }
  to {
    text-shadow: 0 0 3px #fff,
               0 0 5px #fff,
               0 0 7px #fff,
               0 0 10px #FF1177,
               0 0 17px #FF1177,
               0 0 20px #FF1177,
               0 0 25px #FF1177,
               0 0 37px #FF1177;
  }
}