.target-list {
	text-align: left;
	height: 200px;
	width: 100%;
	border: 1px solid $default-border-color;
	overflow: auto;
	list-style: none;
	padding: 5px 10px;
	border-radius: $default-border-radius;
	>li {
		float: left;
		width: 25%;
		line-height: 20px;
		word-break: break-all;
		//height: 25px;
		//overflow: hidden;
	}
	&.target-list-o {
		height: auto;
		max-height: 200px;
		border: none;
	}
}