<div class="content-header">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#vote/guide">
				选择投票类型
			</a>
		</li>
	</ul>
</div>
<div class="content-body vote-guide">
	<div class="panel clearfix">
		<div class="panel-body">
			<ul class="menus">
				<li>
					<a class="clearfix" href="#vote/default/list">
						<img src="./images/vote/vote-default.jpg">
						<div class="content">
							<h4>常规投票</h4>
							<p>由组织创建投票项目和规则进行投票</p>
						</div>
					</a>
				</li>
				<li>
					<a class="clearfix" href="#vote/ugc/list">
						<img src="./images/vote/vote-ugc.jpg">
						<div class="content">
							<h4>UGC投票</h4>
							<p>由学生用户创建投票项目</p>
							<p>组织审核并制定规则进行投票</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>