<!-- PC端忘记密码页面 -->
<!-- 全局阴影层样式 global/shadow-box.scss -->
<div class="shadow-box unselect" id="RetrievePasswordBox" data-xx-action="closeRetrievePassword">
	<div class="inner-box">
		<!-- models/accout/retrieve_password.scss -->
		<div class="retrieve-password-box back-image" data-xx-action="">
			<header class="box-header">
				<img src="./images/cha_03.png" />
				<p>记性真差</p>
				<button class="btn btn-close">
					<span class="fa fa-times"></span>
				</button>
			</header>
			<section class="box-body">
				<form class="form-box signupbox">
					<div class="form-row">
						<div class="row-title">
							<span class="title">手机号</span>
						</div>
						<div class="row-conent">
							 <input type="tel" id="UserName" class="xx-large-input" placeholder="" tabindex="1" />
						</div>
					</div>
					<div class="form-row">
						<div class="row-title">
							<span class="title">图片字符串</span>
						</div>
						<div class="row-content">
							 <input type="text" id="Captcha" class="xx-large-input" placeholder="" tabindex="1" />
							 <img id="PwdCaptchaImage" src="" data-xx-action="refreshPasswordCaptcha" />
						</div>
					</div>
					<div class="form-row">
						<div class="row-title">
							<span class="title">验证码</span>
							<button class="btn btn-authcode" data-xx-action="getRetrievePasswordAuthCode" data-captcha-type="message" tabindex="2">
								<span class="inside-loading"> 
									发送中
									<i class="fa fa-spinner rolling"></i>
								</span>
								<span class="inside-text font-14">获取验证码</span>
								<span class="inside-else" id="Waiting"></span>
							</button>
						</div>
						<div class="row-conent">
							<input type="number" id="AuthCode" class="xx-large-input" placeholder="" tabindex="3"/>
						</div>
						<div class="row-footer">
							<span>*由于通信运营商的限制政策，请无法收到【短信验证码】的用户尝试</span>
							<button class="btn-voice-auth" data-xx-action="getRetrievePasswordAuthCode" data-captcha-type="voice" >
								<span class="inside-text">获取语音验证码</span>
								<span class="inside-loading"> 
									正在请求
									<span class="iconfont icon-loading rolling"></span>
								</span>
								<span id="Waiting" class="inside-else"></span>
							</button>
						</div>
					</div>
					<div class="form-row">
						<div class="row-title">
							<span class="title">新密码</span>
						</div>
						<div class="row-conent">
							<input type="password" id="Password" class="xx-large-input" placeholder="" tabindex="4" />
						</div>
					</div>
					<div class="form-row">
						<div class="row-title">
							<span class="title">确认密码</span>
						</div>
						<div class="row-conent">
							<input type="password" id="Repassword" class="xx-large-input" placeholder="" tabindex="5" />
						</div>
					</div>
					<div class="form-row center">
						<button class="btn btn-empty" data-xx-action="retrievePassword" tabindex="6">
							<span class="inside-loading"> <i class="fa fa-spinner rolling font-18"></i>
							</span>
							<span class="inside-text font-14">
								确定
							</span>
						</button>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>