<div class="content-header">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#relatedOrgs">已关联组织</a>
		</li>
	</ul>
	<div class="buttons btn-xx-group right">
		<a class="btn btn-xx-green btn-xx-sm" href="#relation/search" title="关联组织">+关联组织</a>
	</div>
</div>
<div class="content-body">
	<div class="panel clearfix">
		<div class="panel-body org-list-container" style="padding: 0 !important;">
			<!-- global/group.scss -->
			<div class="xx-groups" id="GroupContainer">
				<!-- app/templates/relatedOrg/groupOrgs -->
			</div>
			<div class="list-empty hide">
				<img src="./images/empty.png" alt="哎呀！啥都没有呢！" />
			</div>
		</div>
	</div>
</div>