<div class="content-header">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" {{if state == "PUBLISHED"}} class="active" {{/if}}>
			<a href="#notices?state=PUBLISHED">已发送</a>
		</li>
		<li role="presentation" {{if state == "UNPUBLISHED"}} class="active" {{/if}}>
			<a href="#notices?state=UNPUBLISHED">草稿箱</a>
		</li>
	</ul>
	<div class="buttons btn-xx-group right">
		<a class="btn btn-xx-green btn-xx-sm" href="#notice/add/edit">新建公告</a>
	</div>
</div>
<div class="content-body notice-list">
	<div class="panel clearfix">
		<header class="panel-header">
			<h3 class="xx-inner-title clearfix">
				<span class="xx-title">总数（{{count||0}}）</span>

				<span class="text-gray">本周剩余短信数：</span>
				<span class="text-red">{{smsCount}}</span>
				<span class="text-gray">条</span>
			</h3>
			<div class="buttons search-group">
				<form class="search-box ">
					<input type="text" class="input-search keyword-name" placeholder="请输入关键字" value="{{keyword}}" />
					<button class="btn-search" data-xx-action="search">
						<span class="inside-loading">
							<i class="fa fa-spinner rolling"></i>
						</span>
						<span class="inside-text">
							<i class="fa fa-search"></i>
						</span>
					</button>
				</form>
			</div>
		</header>
		<section class="panel-body">
			<table class="table middle center">
				<thead class="xx-table-header">
					<tr>
						<th class="width-60">编号</th>
						<th>主题</th>
						<th class="width-160">
						{{if state == "UNPUBLISHED"}}
						创建时间
						{{else}}
						发送时间
						{{/if}}
						</th>
						<th class="width-160 xx-border-right">
						{{if state == "UNPUBLISHED"}}
						操作
						{{else}}
						已发人数
						{{/if}}
						</th>
					</tr>
				</thead>
				<tbody class="xx-table-body">
					{{each notices as notice i}}
					<tr>
						<td>
							{{i | index:pagination.page,pagination.limit}}
						</td>
						<td class="left">
							{{ if state == "UNPUBLISHED"}}
							<a href="#notice/{{notice.id}}/edit" title="{{notice.title}}" class="underline">{{notice.title}}</a>
							{{else}}
							<a href="#notice/{{notice.id}}/info" title="{{notice.title}}" class="underline">{{notice.title}}</a>
							{{/if}}
						</td>
						<td>
							{{ if state == "UNPUBLISHED"}}
								{{#notice.createDate | makedateSpan:'MM-dd hh:mm','yyyy-MM-dd hh:mm'}}
							{{else}}
								{{#notice.sendDate | makedateSpan:'MM-dd hh:mm','yyyy-MM-dd hh:mm'}}
							{{/if}}
						</td>
						{{if state == "UNPUBLISHED"}}
						<td class="left clearfix">
							<button class="btn btn-xx-green btn-xx-sm" data-value="{{notice.id}}" data-xx-action="send">
								<span class="inside-loading"> <i class="fa fa-spinner rolling font-14"></i>
								</span>
								<span class="inside-text">发送</span>
							</button>
							<button class="btn btn-xx-red btn-xx-sm button-right" data-value="{{notice.id}}" data-xx-action="remove">
								<span class="inside-loading"> <i class="fa fa-spinner rolling font-14"></i>
								</span>
								<span class="inside-text">彻底删除</span>
							</button>
						</td>
						{{else}}
						<td>
							{{notice.alreadSent||'0'}}
						</td>
						{{/if}}
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{if count==0}}
			<div class="list-empty">
				<img src="./images/empty.png" alt="哎呀！啥都没有呢！" />
			</div>
			{{/if}}
		</section>
		<footer class="panel-footer"></footer>
	</div>
</div>