<!-- 个性化微首页 自定义菜单选择编辑 -->
<div class="form-row">
	{{include './menu-editor-header'}}
</div>
<div class="form-row">
	<h4 class="xx-inner-title">
		<span class="xx-title">绑定功能</span>
	</h4>
	{{if !menu.url}}
	<ul class="xx-tab-group">
		<li class="xx-item xx-item-4"   data-xx-action="switchToSystemMenu">
			<span>官方功能</span>
		</li>
		<li class="xx-item xx-item-4" data-xx-action="switchToThirdPartyApp">
			<span>第三方应用</span>
		</li>
		<li class="xx-item xx-item-4 active">
			<span>外部链接</span>
		</li>
	</ul>
	{{/if}}
	<!-- models/wechat/personalized/menu_selector_box -->
	<div>
		<input type="text" class="CustomMenuUrl xx-input-text width-p-100" value="{{menu.url}}" placeholder="外部链接地址必须带有 http/https 头" {{if menu.url}}disabled{{/if}} />
	</div>
</div>

<div class="form-row">
	<div class="buttons">
		{{if menu.url}}
		<button class="btn-binded">
			<span class="pk pk-tick"></span>
			<span class="text">已绑定</span>
		</button>
		<button class="btn-rebind" data-xx-action="resetMenu">重新绑定</button>
		{{else}}
		<button class="btn btn-xx-green" data-xx-action="updateMenu">
			<span class="inside-loading"> <i class="fa fa-spinner rolling"></i>
			</span>
			<span class="inside-text">确定</span>
		</button>
		<button class="btn btn-xx-red"  data-xx-action="resetMenu">
			<span class="inside-loading"> <i class="fa fa-spinner rolling"></i>
			</span>
			<span class="inside-text">取消</span>
		</button>
		{{/if}}
	</div>
</div>