<div class="mxz-school-selector">
	<p class="tips">
		注：部分学校暂未开通【查课表/成绩】功能，如有需求请提交工单至<a target="_blank" href="http://mouge.udesk.cn/hc/submit_a_request">萌小助</a> 。	
	</p>
	<div class="form-group clearfix">
		<input type="search" class="form-control" placeholder="快速查找学校" value="{{searchText}}"/>
	</div>
	<ul id="SchoolsBox" class="schools-box"></ul>
	<div class="buttons center">
		<button class="btn btn-xx-green btn-save">
			<span class="inside-loading">
				<i class="fa fa-spinner rolling"></i>
			</span>
			<span class="inside-text">确定</span>
		</button>
	</div>
</div>