.vote-options-container {
        .options-box {
                position: relative;
                margin: 0 -10px;
        }

        .card-box {
                position: absolute;
                width: 20%;
                padding: 0 10px 20px;

                .wrapper {
                        position: relative;
                        padding: 5px;
                        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                }

                img {
                        display: block;
                        width: 100%;
                }

                .praise {
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        color: #fff;
                        text-shadow: 1px 1px 0 #000;
                }
        }

        .option-box {
                margin: 50px 250px;

                .box-header {
                        padding: 15px 0;
                        line-height: 65px;

                        > h4 {
                                font-weight: normal;
                        }
                }

                .box-content {
                        img {
                                display: block;
                                max-width: 100%;
                                max-height: 200px;
                                margin-bottom: 15px;
                        }

                        > h3 {
                                font-weight: normal;
                        }
                }

                .box-footer {
                        padding: 15px 0;
                }

                .avatar {
                        float: left;
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        border: 2px solid #fff;
                        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
                }

                h4 {
                        float: left;
                        margin-left: 10px;
                        width: 200px;
                }

                .date {
                        float: right;
                }

                h3 {
                        font-size: 16px;
                        margin-bottom: 10px;
                }

                .buttons {
                        margin: 0 -15px 15px;

                        > li {
                                float: left;
                                width: 50%;
                                padding: 0 15px;
                        }

                        .btn {
                                line-height: 25px;
                        }
                }
        }

        .btn-load-more {
                padding: 10px 30px;
                border: 1px solid $green-color;
                border-radius: 30px !important;
                color: $green-color;
                min-width: 200px;
        }
}

.vote-option-modal {
        .modal-header {
                background: #fff;

                .close {
                        color: $red-color;
                }
        }

        .modal-content {
                padding-top: 0;
        }

        .box-header {
                padding-bottom: 15px;
                line-height: 65px;

                h4 {
                        float: left;
                        margin-left: 10px;
                        width: 200px;
                        font-weight: normal;
                }

                .date {
                        float: right;
                }
        }

        .box-content {
                margin-bottom: 15px;

                img {
                        display: block;
                        max-width: 100%;
                        max-height: 200px;
                }

                > h3 {
                        font-weight: normal;
                        font-size: 16px;
                        margin: 10px 0;
                }

                .description {
                        p {
                                line-height: 20px;
                                margin-bottom: 5px;
                        }
                }
        }

        .avatar {
                float: left;
                width: 65px;
                height: 65px;
                border-radius: 50%;
                border: 2px solid #fff;
                box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
        }

        .buttons {
                text-align: center;
                padding-top: 15px;

                .btn {
                        margin: 0 10px;
                }
        }
}

.signup-refuse-modal {
        width: 300px;
        margin: auto;

        .row {
                padding-bottom: 5px;
        }
}

.vote-option-editor-modal {
        width: 400px;
        margin: auto;
}